<p id="notice"><%= notice %></p>

<h2>
  <strong></strong>
  <%= @mix.title %>
</h2>

<h3>
  <strong></strong>
  <%= @mix.description %>
</h3>

<div class="song-list">
  <%= render @mix.songs %>
</div>
  <%= render "songs/form" %>


  <div id="video-placeholder"></div>

<%= link_to 'Edit', edit_mix_path(@mix) %> |
<%= link_to 'Back', mixes_path %>

<script src="https://www.youtube.com/iframe_api"></script>
<script>
  var player;
  function onYouTubeIframeAPIReady() {
      player = new YT.Player('video-placeholder', {
          width: 320,
          height: 200,
          videoId: '',
          playerVars: {
              color: 'white',
              playlist: ''
          },
          events: {
              onReady: initialize
          }
      });
  }
  function initialize(){
  }

  $('.play').on('click', function () {
      player.playVideo();
  });
  $('.pause').on('click', function () {
      player.pauseVideo();
  });
  $('.song').on('click', function () {
      var url = $(this).attr('data-video-id');
      player.cueVideoById(url);
      $('#video-placeholder').css('display', 'block')
      player.playVideo();
  });
</script>
