<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @song.link %>
</p>

<p>
  <strong>Mix:</strong>
  <%= @song.mix %>
</p>

<%= link_to 'Back', mix_path(@mix) %>
